<img [src]="angularImagePath" alt="DC Comics">
<app-size [(size)]="fontSizePx"></app-size>
<h1>{{title}}</h1>
<h2>My favorite hero is {{myHero.name}}</h2>
<div>
  <input type="text" #hero (keyup.enter)="addHero(hero.value);hero.value=''" (blur)="addHero(hero.value);hero.value=''" >
</div>
<div>
  Heroes:
  <ul>
    <li *ngFor="let hero of heroes">{{hero.name}}
      <app-hero-details [hero]="hero" (deleteRequest)="deleteHero($event)"></app-hero-details>
    </li>
  </ul>
</div>
<h1>Pick your color</h1>
<div>
  <input type="radio" name="color" (click)="color='yellow'">Yellow
  <input type="radio" name="color" (click)="color='cyan'">Cyan
  <input type="radio" name="color" (click)="color='green'">Green
  <input type="radio" name="color" (click)="color='blue'">Blue
</div>
<p *ngIf="heroes.length > 3" [ngClass]="{ 'color-red' : true }" [appHighlight] ="color"> There are many heroes !!</p>
